h1 {
  font-family: "Consolas";
  margin: auto;
  width: 400px;
}

h3 {
  font-family: "Consolas";
  margin: auto;
  width: 400px;
}


body {
  height: 2050px;
  background: linear-gradient(to bottom, #e8ebee 30%, #0e0d0d 200%);
}

.linkLI {
  
  margin-left: 5%;
  font-family: "Consolas";
  float: left;
  width: 180px;
  padding-top: 36px;
  padding-bottom: 38px;
  text-decoration:none ;
}

.linkLI:hover{
  
  background: rgba(255, 255, 255, 0.096);
  background-blend-mode: multiply;

}

.linkGH{
  
  margin-left: 5%;
  font-family: "Consolas";
  float: left;
  width: 180px;
  padding-top: 36px;
  padding-bottom: 38px;
  text-decoration:none ;

}

.linkGH:hover{

  background: rgba(255, 255, 255, 0.096);
  background-blend-mode: multiply;

}

.spacer{

  
  height: 100px;
  width: 100px;
  float: left;

}

div {
  
  margin: auto;
  
}

.topbar {
  position: fixed;
  top: 0px;
  margin-left: -10px;
  width: 100%;
  background: linear-gradient(75deg, #01b481, #02d89b);
  z-index: 1;
  background-blend-mode: lighten;
  height:100px;
  
}


.middlebox{
  margin-top: 150px;
  height: 500px;
  width: 800px;  
  background: linear-gradient(to top, #3f3e3e 0%, #2d2d2e 99%);
  border-radius: 0px;
  border: 10px solid rgba(61, 75, 83, 0.253);
  

}

.mendigo{
  
  margin-left: 150px;
 

}



