h1 {
  font-family: "Geometr415 Blk BT Black";
  margin: auto;
  width: 400px;
}

h3 {
  font-family: "Futura Md BT";
  margin: auto;
  width: 400px;
}


body {
  height: 850px;
  background: linear-gradient(to bottom, #e8ebee 30%, #0e0d0d 200%);
}

div {
  font-family: "Bitterbrush DEMO Regular";
  margin: auto;
  width: 100px;
  height: 29px;
  background: linear-gradient(to top, #0a0909 0%, #0d0d0e 99%);
  border-radius: 3px;
  border: 1px solid rgb(138, 138, 139);
  
}

.middlebox{
  
  height: 800px;
  width: 800px;  
  background: linear-gradient(to top, #3f3e3e 0%, #2d2d2e 99%);
  border-radius: 0px;
  border: 10px solid rgba(61, 75, 83, 0.253);
  

}

.mendigo{
  
  margin-left: 150px;
 

}
