


h3 {
  font-family: "Consolas";
  margin: auto;
  width: 400px;
}


body {
  
  background: rgb(241, 240, 233);
  overflow-x: hidden;
  
}

.linkedinIcon{
  margin-top: -50px;
  opacity: 0;
  padding-left: 65px;
  padding-right: 70px;
  padding-top: 56px;
  padding-bottom: 9px;
  transition: all .1s ease-in-out;
  width: 10px;
  height: 10px;
  
}

.linkedinIcon:hover{
  
  opacity: 1; 
  width: 47px;
  height: 47px;
  
}

.linkLI {
  
  margin-left: 5%;
  font-family: "Consolas";
  float: left;
  width: 180px;
  padding-top: 10px;
  text-decoration:none ;
  height:40px;
  transition: all .2s ease-in-out;
}

.linkLI:hover{
  
  background: rgba(255, 255, 255, 0.096);
  background-blend-mode: multiply;
  height: 90px;
  transform: (1);

}







.linkBigBox{ 
  
  
  font-family: "Consolas";
  
  text-decoration:none ;
  align-items: center;
  
  float: left;
  width: 15%;
  height: 100% ;
  transition: all .2s ease-in-out;
  
  

}

.linkBigBox:hover{

  background: rgba(255, 255, 255, 0.096);
  background-blend-mode: multiply;
  height: 100% ;
  
  
}
.linkBigBox:hover .linkFoto {

  
  min-width: 30px;
  min-height: 30px;
  height: 50px;
  width: 53px;
  opacity: 1;
  

}

.linkTEXT{

  color: white;
  text-align: center;
  font-size: 160%; 
  margin-top: 3%
  
}

.linkFoto{

  opacity: 0;
  display: block;
  width: 1px;
  height: 1px;
  margin-left:auto;
  margin-right:auto;
  margin-top: -21px;
  transition: all .2s ease-in-out;
  
  

}

.spacer{

  
  height: 100%;
  width: 6%;
  float: left;

}


.topbar {
  position: fixed;
  top: 0px;
  margin-left: -10px;
  width: 100%;
  background: linear-gradient(45deg, rgb(68, 196, 68) , #b9e284);
  z-index: 1;
  background-blend-mode: lighten;
  height: 50px;
  transition: all .2s ease-in-out;
  padding-right: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.055);
  
}

.topbar:hover {

  height: 100px;
  
}


.about{
  
  width: 101%;
  margin-top: 150px;
  height: 700px;
  transform: rotate(5deg);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.055);
  float: middle;
  
  margin-left: -5%;
  padding-right: 10%;
  background: linear-gradient(to top right, #2AFADF 0%, #4cb7ff 100%);
  
}

.aboutText{

  margin-left: 6%;
  color: white;
  font-family: "Consolas";
  transform: rotate(-5deg);
  font-size: 30px;
  text-align: justify;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.055);
  padding: 10px 10px 10px 10px;
  background: rgba(14, 212, 63, 0.055);


}

.nomeP {
  font-family: "Consolas";
  font-size: 50px;
  transform: rotate(-5deg);
  text-shadow: -2px 2px 0px #00000034;
  margin-left: 5%;
  padding-top: 20px;
  color: white;
}


.skillsBar{

  opacity: 1;
  margin-left: 10%;
  margin-top: 4%;
  height: 100px;
  width: 80%;
  background: rgba(255, 0, 0, 0);
  transform: rotate(-5deg);


}

.SkillIcon{

  height: 100%;
  width: auto;
  margin-left: 5%;

}

.cutter:after{

  margin-top: -90px;
  padding-right: 10%;
  margin-left: -5%;
  width: 100%;
  height: 190px;
  float: middle;
  background: rgb(241, 240, 233);
  position: absolute;
  content: " ";

}





.mailIcon{
  margin-top: -50px;
  opacity: 0;
  padding-left: 60px;
  padding-right: 75px;
  padding-top: 50px;
  padding-bottom: 12px;
  transition: all .1s ease-in-out;
  width: 10px;
  height: 10px;
}

.mailIcon:hover{
  
  opacity: 1; 
  width: 60px;
  height: 60px;
  
}

.contatos{
  opacity: 0;
  margin-top: -100px;
  height: 120px;
  width: 800px;  
  background: red;
  
}

.contactInfo{

  width: 101%;
  margin-top: 120px;
  height: 700px;
  transform: rotate(5deg);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.055);
  float: middle;

  margin-left: -5%;
  padding-right: 10%;
  background-image: linear-gradient(to bottom left, #96fbc4 0%, #f9f586 100%);
  
  
}

.email{

  font-family: "Consolas";
  font-size: 50px;
  color: white;
  float:left;
  text-shadow: -2px 2px 0px #0000004d;
  margin-left: 110px;
  padding-top: 20px;
  transform: rotate(-5deg);
}

.projetosBox{
  
  opacity: 1;
  width: 101%;
  margin-top: 10%;
  height: 600px;
  transform: rotate(-5deg);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.055);
  
  
  margin-left: -5%;
  padding-right: 10%;
  background: linear-gradient(to bottom right, #00A8C5 0%, rgb(242, 255, 126) 120%);
  
  z-index: 3;

}



.projetosH{

  font-family: "Consolas";
  font-size: 50px;
  color: white;
  float:right;
  background: rgba(255, 255, 0, 0);
  text-shadow: -2px 2px 0px #0000004d;
  
  margin-top: 10px;
  padding-left: 100%;
  z-index: 2;
  
  float:right;
  text-align: right;
}


.spacerSlide{

  
  opacity: 1;
  display: block;
  background: rgba(255, 0, 0, 0);
  width: 70%;
  height: 80%;
  margin-left: 20%;
  margin-bottom: -20%;
  margin-top: 15%;
  transform: rotate(5deg);
  z-index: -1;
  position: absolute;
  overflow: hidden;
  
  
}

.projectView{

  
  background: rgba(255, 166, 0, 0);
  
  
  height: 60%;
  width: 33%;
  margin-left:10%;
  margin-top: -30px;
  float: left;
 

}

.projectCutter{
  
  
  background: rgba(0, 128, 0, 0);
  width: 100%;
  height: 120%;
  overflow: hidden;
  margin-top: 20%;
  

}

.vitch{

  width: 100%;
  height: auto;
  transform: rotate(5deg);
  float: left;

  
}

.vitch:hover{

  box-shadow: 0px 0px 8px 5px #fffefe4f;

}

.eggs{

  width: 100%;
  height: 119%;
  transform: rotate(5deg);
  float: left;

  
}
.projectView2{

  
  background: rgba(0, 195, 255, 0);
  
  
  height: 60%;
  width: 33%;
  margin-left: 5%;
  margin-top: -30px;
  float: left;
}

.bigProjeto{

  width: 101%;
  height: 900px;
  background: yellow;
  

}


.spacerspacerSlide{

  
  opacity: 0;
  display: block;
  background: rgba(255, 0, 0, 0);
  width: 55%;
  height: 5%;
  margin-left: 20%;
  margin-bottom: -20%;
  
  z-index: 2;
  
  
  
  
}